body{
    margin: 0;
}

.cielo{
    background: url('../img/cielo.png');
}

.puente{
    background: url('../img/puente.png');
}

.bernie{
    background: url('../img/bernie.png');
    width: 112px;
    height: 156px;
}