body{
    margin: 0;
    background-color: black;

}
.contenedor{
    margin-top: 25vw;
}

.cielo{
    background: url('../img/cielo.png');
}

.puente{
    background: url('../img/puente.png');;
    position: relative;
    top: 160px;
}

.bernie{
    background: url('../img/bernie.png');
    width: 130px;
    height: 160px;
    margin: auto;
    
}