@font-face {
    font-family: letraNueva;
    src: url(./../fonts/HEADOH__.TTF);
}

*{
    margin: 0%;
    font-family: letraNueva;
    color: black;
}

body{
    background-color: #0F1323;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1.5vw;
    background-color: #000000;
    padding: 3vw;
    width: 60vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.grid-container > div {
    background-color: white;
    text-align: left;
    padding: 3vw;
    font-size: 2.5vw;
}

.texto1{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.mini{
    margin-top: 1vw;
    font-size: 1vw;
    line-height: 1vw;
}

.video1{
    background-image: url(./../recursos/1.gif);
    background-size: cover; 
    width: 23vw;
}

.video2{
    background-image: url(./../recursos/2.gif);
    background-size: cover; 
    width: 23vw;
}

.video3{
    grid-column: 1;
    grid-column-end: 3;
    background-image: url(./../recursos/3.gif);
    background-size: cover; 
    height: 25vw;
}

color{
    background-color: #DF4EF6;
    padding: 0.2vh;
}

