*{
    background-color: black;
}

body{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.contenido{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1vw;
    
}

.img1 {
    background-image: url(./../img/1.jpeg);
    background-size: cover; 
    width: 25vw;
    border-radius: 2vw;

}
.img2 {
    background-image: url(./../img/2.jpeg);
    background-size: cover; 
    width: 25vw;
    border-radius: 2vw;
}
.img3 {
    background-image: url(./../img/3.jpeg);
    background-size: cover; 
    height: 25vw;
    grid-row: 1;
    grid-column: 3/5;
    border-radius: 2vw;
}
.img4 {
    background-image: url(./../img/4.jpeg);
    background-size: cover; 
    grid-row: 2/4;
    border-radius: 2vw;
}
.img5 {
    background-image: url(./../img/5.jpeg);
    background-size: cover; 
    width: auto;
    height: auto;
    grid-column: 2/4;
    border-radius: 2vw;
}
.img6 {
    background-image: url(./../img/6.jpeg);
    background-size: cover; 
    width: 25vw;
    height: 30vw;
    border-radius: 2vw;
}
.img7 {
    background-image: url(./../img/7.jpeg);
    background-size: cover; 
    width: 48vw;
    height: 30vw;
    grid-column: 2/4;
    border-radius: 2vw;
}
.img8 {
    background-image: url(./../img/8.jpeg);
    background-size: cover; 
    border-radius: 2vw;
}