


html{
    height: 100%;
}

body{
    background-color: #1e1d2b;
}

.bloques{
    width: 1080px;
    height: 2400px;
    margin-left: auto;
    margin-right: auto;
}

.lineaSuperior{
    color: white;
    display: flex;
}

.lineaSuperior a{
    margin-left: 60px;
    position: relative;
    left: 800px;
    font-size: 27px;
    text-decoration: none;
    color: white;

}

.lineaSuperior h1{
    position: relative;
    left: 30px;
    font-size: 40px;
    margin: 0px;
}
.cont1{
    color: white;
}
.cont1 h1{
    font-size: 100px;
    position: relative;
    left: 170px;
    top: 100px;
}

.cont1 img{
    top: 70px;
    position: relative;
    left: 400px;
}

.cont1 h2{
    top: 100px;
    left: 150px;
    position: relative;
    font-size: 100px;
}