
body{
    background-color: #121212;
    margin-left: auto;
    margin-right: auto;
}

.lineaSuperior{
    color: white;
    display: flex;
}

.lineaSuperior a{
    margin-left: 60px;
    position: relative;
    left: 1100px;
    font-size: 27px;
    text-decoration: none;
    color: white;

}

.lineaSuperior h1{
    position: relative;
    left: 400px;
    font-size: 40px;
    margin: 0px;
}
.cont1{
    color: white;
}
.cont1 h1{
    font-size: 80px;
    position: relative;
    left: 700px;
    top: 100px;
}

.cont1 img{
    top: 150px;
    position: relative;
    left: 840px;
}

.cont1 h2{
    top: 150px;
    left: 600px;
    position: relative;
    font-size: 100px;
}

.bloques button{
    background-color: #C2904C;
    position: relative;
    left: 950px;
    top: 100px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
}

.bloqueAbout h1{
    color: white;
    position: relative;
    left: 1000px;
    font-size: 100px;
    top: 500px;
}

.bloqueAbout img{
    top: 300px;
    left: 100px;
    position: relative;
}

.bloqueAbout p{
    top: 50px;
    position: relative;
    left: 1000px;
    color: white;
    font-size: 30px;
}

.bloqueAbout button{
    top: 50px;
    position: relative;
    left: 1000px;
    background-color: #C2904C;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
}

.part2 .derecha {
    top: 0px;
    left: 1400px;
    position: relative;
}

.part2 .izquierda{
    left: 200px;
    position: relative;
}

.bloqueMenu h1{
    top: 150px;
    left: 100px;
    position: relative;
    font-size: 100px;
    color: white;
}

.bloqueMenu img{
    top: -50px;
    left: 140px;
    width: 100px;
    position: relative;
}


.cuadro1{
    position: relative;
    top: 300px;
    left: 200px;
    height: 475px;
    width: 400px;
    border: 5px solid #C2904C;
}

.cuadro2{
    position: relative;
    top: -186px;
    left: 800px;
    height: 475px;
    width: 400px;
    border: 5px solid #C2904C;
}

.cuadro3{
    position: relative;
    top: -670px;
    left: 1400px;
    height: 475px;
    width: 400px;
    border: 5px solid #C2904C;
}

.bloqueMenu{
    color: white;
}

.bloqueMenu h4{
    top: -50px;
    left: 150px;
    position: relative;
    font-size: 28px;
}

.bloqueMenu p{
    top: -50px;
    left: 150px;
    position: relative;
    font-size: 20px;
    line-height: 50px;
}

.bloqueMenu button{
    top: 0px;
    position: relative;
    left: 130px;
    background-color: #C2904C;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

