form {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 10px;
    border: 5px solid purple;
    border-radius: 5%;
    background-color: skyblue;


}
body{
    background-image: url(https://i.pinimg.com/originals/9b/06/41/9b06416748939eb16ba312151c76230d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    transform: translate(0%, 50%);
}
